torchvision
scikit-learn
torch
opencv-python
scikit-image
matplotlib
pandas
numpy
timm
tqdm
openpyxl
notebook
pytorchvideo

py_evm @ git+https://github.com/tvaranka/Python-evm#egg=py_evm
get_image_size @ git+https://github.com/scardine/image_size#egg=get_image_size

setuptools~=63.4.1